RewriteEngine On

# Exclude uploads folder from rewrite
RewriteCond %{REQUEST_URI} ^/uploads/.* [OR]

# Don't rewrite existing files, directories, or symlinks
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-l

# Rewrite API requests to index.php
RewriteRule ^(.*)$ api/index.php/$1 [L]

# Allow direct access to static files in uploads folder
# RewriteRule ^uploads/(.*)$ /uploads/$1 [L]
